header{
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-color: #3096fa;
}

#logo{
    width: 300px;
    padding-top: 90px;
    margin-left: 10px;
}

h1{
    margin-bottom: 1px;
}

.sezione-titolo{
    color: gray;
}

#span-titolo{
    color: #00a5df;
}

#didascalia{
    font-size: 12px;
}

#data{
    font-size: 12px;
    margin-bottom: 20px;
}

.sottolineato{
    background-color: yellow;
}
thead{
    background-color: #009fde;
    color: white;
}

.riga-dispari{
    background-color: #a0e1ef;

}

table{
    table-layout: fixed; width: 100%;
}

#link-esterni{
    color: gray;
}

#pink{
    color: white;
    font-size: 30px;
    padding: 10px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
}

#red{
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
}